/* import w3 icons */
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* get fonts */
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Oswald);

/* variables */
:root {
    --fontColor: #CCCCCC;
    --fontSize: 1.5em;
    --fontText: 'Special Elite', cursive;
    --fontTitle: 'Oswald', sans-serif;

    --menuItemPadding: 7px 10px;
    --menuBackgroundColor: #444444;
    --menuBorderRadius: 7px;
    --menuBorderThickness: 3px;

    --navBackgroundColor: #000000;
/*    --navHeight: 50px;*/
    --navItemPadding: 10px;
    --navLetterSpacing: 1.0px;
    --navPadding: 10px;

    --selectionColor: red;
}

/* elements */
a {
    color: var(--fontColor);
}
a:link {
    color: var(--fontColor);
    text-decoration: none;
}
a:visited {
    color: var(--fontColor);
}
a:hover {
    color: var(--selectionColor);
    cursor: pointer;
}
a:active {
    color: var(--fontColor);
}
span {
    color: var(--fontColor);
}
span:hover {
    color: var(--selectionColor);
}
nav {
    background: var(--navBackgroundColor);
    border: none;
    bottom: 0px;
    color: var(--fontColor);
    font-family: var(--fontText);
    font-size: var(--fontSize);
    height: var(--navHeight);
    padding: 0px var(--navPadding);
    position: fixed;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    align-items: stretch;
}

/* classes */
.left, .right {
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.navItem {
    color: var(--fontColor);
    font-family: var(--fontText);
    letter-spacing: var(--navLetterSpacing);
    padding: var(--navItemPadding);
    padding-bottom: 0px;
    position: relative;
}
.menu {
    background-color: var(--menuBackgroundColor);
    border: var(--menuBorderThickness) solid var(--navBackgroundColor);
    border-bottom: none;
    border-radius: var(--menuBorderRadius) var(--menuBorderRadius) 0px 0px;

    position: absolute;
    transform: translateY(calc(-1 * var(--navHeight)));
    bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    visibility: hidden;
}
.left .menu {
    left: 0px;
}
.right .menu {
    right: 0px;
}
.menuItem {
    border-bottom: calc(0.75 * var(--menuBorderThickness)) solid var(--navBackgroundColor);
    color: var(--fontColor);
    padding: var(--menuItemPadding);
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
.menuItem:last-child {
    border-bottom: none;
}
.navItem:hover > .menu {
    visibility: visible;
}

/********** media querry **********/
@media screen and (max-width: 410px) {
    .navBar {
        border: 0px solid red;
        height: 800px;


        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    .left, .right {
        border: 0px solid yellow;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    .navItem {
        border: 0px solid blue;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .navMenu {
        background-color: var(--menuBackground);
        border: 0px solid red;
        border-radius: 0px;
        /*height: 0px;*/
        height: auto;
        width: 100%;

        position: static;
        /*visibility: hidden;*/
        visibility: visible;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .menuItem {
        height: auto;
        text-align: center;
    }
    .navItem:hover > .navMenu {
        /*height: auto;*/
        visibility: visible;
    }

}
