/* classes */
.window {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(100vh - var(--navHeight)) var(--navHeight);
    grid-template-areas:
        "workspace"
        "nav";
}
.workspace {
    background-color: white;
    background-image: url("../media/jackPalLogo-transparent.png");
    background-position: left, center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: workspace;
}
nav {
    grid-area: nav;
}
