/* classes */
.bodyContainer {
    border: none;
    height: 100vh;
    weight: 100vw;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mainWindow {
    background: var(--backgroundColor) url("../media/jackPalLogo-white.png") no-repeat center left;
    background-size: contain;
    border: 5px solid green;
    font-family: var(--fontTitle);
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
