/* normalize css */
/*@import url(http://www.w3schools.com/lib/w3.css);*/

/* get fonts */
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Oswald);

/* global variables */
:root {
    --fontText: 'Special Elite', cursive;
    --fontTitle: 'Oswald', sans-serif;
    --navHeight: 60px;
    --selectionColor: red;
}

/*elements */
* {
    border: none;
    box-sizing: border-box;
    color: #000000;
    margin: 0px;
    padding: 0px;
}
