/* global variables */
:root {
    --backgroundColor: grey;
}

/* classes */
.window {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(100vh - var(--navHeight));
    grid-template-areas:
        "workspace"
        "nav";
}
.workspace {
    background-color: grey;
    grid-area: workspace;
    overflow-y: auto;
    padding: 0.125in;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
