/* import w3 icons */
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* variables */
:root {

}

/* classes */
.document {
    border: 1px solid yellow;
    box-sizing: border-box;
    font-family: var(--fontText);
    margin: 5px;
    margin-bottom: 0px;
    max-width: 60px;
    padding: 0px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.icon {
    color: grey;
    font-size: 40px;
}
.fileName {
    font-size: 10px;
}
