/* global variables */
:root {
    --panelBackgroundColor: ghostWhite;
    --panelBorderColor: black;
    --panelBorderThickness: 2px;
    --panelFontColor: black;
    --panelFontSize: 150%;
}

/* classes */
.panel {
    background-color: var(--panelBackgroundColor);
    border: var(--panelBorderThickness) solid var(--panelBorderColor);
    border-radius: var(--gridSpacing);
    overflow: hidden;
}
.title {
    color: var(--panelFontColor);
    border-bottom: 1px solid black;
    font-size: var(--panelFontSize);
    font-family: var(--fontTitle);
    height: 10%;
    text-align: center;
    width: 100%;
}
.directory {
    border: 0px solid black;
    height: 90%;
    overflow-y: auto;
    padding: 5px;
    padding-top: 10px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
